{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mx-auto">
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Inventory Management</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">All Locations</li>
							</ol>
						</nav>
					</div>
				</div>
                <div class="card">
                <div class="col-lg-3 col-xl-2 m-3">
                    <a href="{% url 'add-location' %}" class="btn btn-primary mb-3 mb-lg-0"><i class='bx bxs-plus-square'></i>New Location</a>
                </div>
                <h2 class="card-title text-center">All Locations</h2>
                <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Location Name</th>
                        <th>Action</th>
                    </tr>
                    {% for foo in object_list %}
                        <tr>
                        <th>{{ foo.id }}.</th>
                        <td>{{ foo.city|capfirst }}, {{ foo.state }}</td>
                        <td>
                            <a href="{% url 'update-locations' foo.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square text-warning" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock %}